<h2>
    Guests
</h2>

<section>
<div class="row">
    <div class="column">
        Eliza Taylor<br/ >
        <img src="./images/assets/Guests Page/1. Eliza Taylor Clarke.png"/><br />
        Clarke Griffin
    </div>
    <div class="column">
        Bob Morely<br />
        <img src="./images/assets/Guests Page/2. Bob Morley Bellamy.png" /><br />
        Bellamy Blake
    </div>
    <div class="column">
        Zach McGowan<br />
        <img src="./images/assets/Guests Page/3. Zach McGowan King Roan.png" /><br />
        King Roan
    </div>
</div>
<div class="row">
    <div class="column">
        Tasya Teles<br />
        <img src="./images/assets/Guests Page/4. Tasya Teles Echo.png" /><br />
        Echo
    </div>
    <div class="column">
        Christopher Larkin<br />
        <img src="./images/assets/Guests Page/5. Christopher Larkin Monty.png" /><br />
        Monty
    </div>
    <div class="column">
        Thomas McDonnel<br />
        <img src="./images/assets/Guests Page/6. Thomas McDonnel Finn.png" /><br />
        Finn
    </div>
</div>
<div class="row">
    <div class="column"><!-- Wierd placement starts here -->
        Richard Harmon<br />
        <img src="./images/assets/Guests Page/7. Richard Harmon Murphy.png" /><br />
        Murphy
    </div>
    <div class="column">
        Jessica Harmon<br />
        <img src="./images/assets/Guests Page/8. Jessica Harmon Niylah.png" /><br />
        Niylah
    </div>
    <div class="column">
        Chelsey Reist<br />
        <img src="./images/assets/Guests Page/9. Chelsey Reist Harper.png" /><br />
        Harper
    </div>
</div>
<div class="row">
    <div class="column twoColumns">
        Marie Avgeropolis<br />
        <img src="./images/assets/Guests Page/10. Marie Avgeropolis Octavia.png" /><br />
        Octavia Blake
    </div>
    <div class="column twoColumns">
        Lola Flanery<br />
        <img src="./images/assets/Guests Page/11. Lola Flanery Madi.png" /><br />
        Madi Griffin
    </div>
</div>
</section>