<section class="brief">
    <h2>
        CONAGEDDON 5
    </h2>
    <p>
        March 14th-16th<br/>
        "WE WILL MEET AGAIN"<br/>
        Boston
    </p>
</section>

<section class="guestsSection">

</section>

<section class="locationInformation">

</section>