<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p class="banner">
      !!! THIS IS NOT THE OFFICIAL SITE !!!
    </p>
    <header>
      <h1>
        <a href="/">CONAGEDDON 5</a>
      </h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/guests">Guests</a></li>
          <li><a href="/ticketPrices">Ticket Prices</a></li>
          <li><a href="/showInfo">Show Info</a></li>
          <li><a href="/purchase">Purchase Tickets</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
