<div class="row">
    <div class="column desc">
        <h2>Show Info</h2>
        Date <br />
        March 14th-16th 2025<br />
        VIP Party March 14th for VIP Ticket Holders Only.<br />
        Convention for all Ticket Holders Sat March 15th and Sunday March 16th.<br /><br />

        Location<br />
        Boston Logan Airport Hilton<br />
        1 Harborside Dr, Boston, MA 02128<br /><br />

        A block of rooms has been reserved for the Convention:<br /><br />

        The Group Discount Code<br />
        https://www.hilton.com/en/attend-my-event/boslhhh-cog-3b7f33b0-2a1a-4aa2-82f4-3636ddc3146e/<br /><br />

        (until inventory is sold out in our block)
    </div>
    <div class="column">
        <img src="./images/assets/Show Info Page/Sidewall Image.png" alt="Sidewall Image">
    </div>
</div>