<section class="top">
    <h2>
        Ticket Prices
    </h2>
    <h3>
        General Admission - $125
    </h3>
    <p>
        Saturday, Sunday admission into Conageddon (Panels, Q&As)
    </p>
</section>
<section class="generalTickets">
    <div class="row">
        <div class="column">
            <h2>Autograph Prices</h2>

            <p>
                ELIZA:<br />
                AUTO: $60<br />
                COMBO: $80<br /><br />

                BOB:<br />
                AUTO: $60<br />
                COMBO: $80<br /><br />

                MARIE:<br />
                AUTO: $60<br />
                COMBO: $80<br /><br />

                RICHARD:<br />
                AUTO: $50<br />
                COMBO: $70<br /><br />

                TASYA:<br />
                AUTO: $50<br />
                COMBO: $70<br /><br />

                ZACH: <br />
                AUTO: $40<br />
                COMBO: $60<br /><br />

                CHRISTOPHER:<br />
                AUTO: $40<br />
                COMBO: $60<br /><br />

                CHELSEY: <br />
                AUTO: $40<br />
                COMBO: $60<br /><br />

                JESSICA:<br />
                AUTO: $40<br />
                COMBO: $60<br /><br />

                LOLA:<br />
                AUTO: $40<br />
                COMBO: $60<br /><br />

                THOMAS:<br />
                AUTO: $40<br />
                COMBO: $60<br /><br />

                *No single selfies to purchase this year unless you buy a combo which is a autograph and selfie.
            </p>
        </div>
        <div class="column">
            <h2>Photo Prices</h2>

            <p>
                Eliza $70<br />
                Bob $70<br />
                Marie $70<br />
                Richard $60<br />
                Tasya $60<br />
                Chelsey $50<br />
                Zach $50<br />
                Chris $50<br />
                Thomas $40<br />
                Jessica  $40<br />
                Lola $40<br /><br />

                GROUP:<br />
                All Guests $300<br />
                Space Crew (Eliza, Bob, Chris, Richard, Chelsey, Thomas & Marie) $250<br />
                Grounders (Zach, Tasya, Jessica, Lola and Marie) $125<br />
                Eliza, Bob and Lola $150<br />
                Eliza & Bob $150<br />
                Bob & Marie $150<br />
                Bob & Richard $100<br />
                Bob & Tasya $100<br />
                Eliza & Lola $100<br />
                Eliza & Thomas $80<br />
                Chris & Chelsey $80<br />
                Zach & Tasya $80<br />
                Eliza & Jessica $80<br />
                Richard & Jessica $80<br />
                Guys of Conageddon  $200<br />
                Girls of Conageddon  $250<br />
            </p>
        </div>
    </div>
</section>

<h2 class="vipLabel">VIP and Meet and Greets</h2>
<section class="vipTickets">
    <h3>VIP PACKAGES *Limited Amount Available Per Guest*</h3>
    <div class="row">
        <div class="column">
            <p>
                ELIZA VIP PACKAGE $900: <br />
                BOB VIP PACKAGE $900: <br />
                MARIE VIP PACKAGE $900: <br />
                RICHARD VIP PACKAGE $750:<br />
                TASYA VIP PACKAGE $750:<br />
                ZACH VIP PACKAGE $750:<br />
                CHELSEY VIP PACKAGE $650:<br />
                CHRISTOPHER VIP PACKAGE $650: <br />
                LOLA VIP PACKAGE $600:<br />
                THOMAS VIP PACKAGE $550:<br />
                JESSICA VIP PACKAGE $500:<br />
            </p>
        </div>
        <div class="column">
            <h4>Meet and Greets (Sunday)</h4><br />
            <p>
                Talent would be paired, And you will meet both actors for 30mins. <br /><br />
                ELIZA & BOB $300: (2 Sessions.) Book either 9am or 9:30am<br />
                BOB & MARIE $300: <br />
                ELIZA & LOLA $200: <br />
                RICHARD & THOMAS $150:<br />
                CHRISTOPHER & CHELSEY $150:<br />
                ZACH, TASYA & JESSICA $150:<br /><br />

                *(25) per Groupings *While Supplies Last<br />
                30 Minute Session
            </p>
        </div>
    </div>
</section>

<section class="vipInformation">
<h3>VIP Packages Include</h3>
<p>
    Admission + Premium Pass: <br />
    “Autograph with Guest: <br />
    “Selfie with Guest: <br />
    “Photo Op with Guest: <br />
    Group Photo with Guest's VIP Crew:<br /><br /> 

    VIP Shirt: <br />
    Exclusive “Guest Lanyard:<br /> 
    Breakfast Meet and Greet with “Guest Saturday:<br />
    VIP Party Friday Night with all Guests with games: <br />
    Access to “Guest's” Fan Greenroom:<br />
    1 exclusive Guest signed poster to be won by guest of VIP Group:<br />
</p>
</section>