/* Global Styles */
body {
  margin: 0;
  padding: 0;
}
.banner {
  background-color: rgb(255,0,0);
  padding: 2vh;
  margin: 0;
  text-align: center;
}

/* Header Styles */
header {
  background-color: rgba(0,0,0,255);
}

h1 {
  margin: 0;
  padding: 2vh;
}

h1 a {
  text-decoration-line: none;
  color: rgba(255,255,255,255 );
}

h1 {
  text-align: center;
}

/* Nav Styles */
li {
  list-style-type: none;
  margin-left: 2vw;
  padding-bottom: 2vh;
}

li a {
  text-decoration: none;
  color: rgba(255,255,255,255 );
}

ul {
  display: flex;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

nav {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Footer */
footer {
  background-color: rgba(0, 0, 0, 255);
  color: rgba(255, 255, 255, 255);
  text-align: center;
  padding: 5vh;
  padding-bottom: 20vh;
}

/* Home Page Styles */
body {
  background-image: url('../images/assets/homepageWallpaper.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.brief {
  background-color: rgba(10, 79, 57, 0.9); /* The only thing I copied from the official site */
  padding: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
  margin-top: 20%;
  color: rgba(255,255,255,255);
  text-align: center;
}

.brief h2 {
  font-size: 30pt;
  margin: 0;
}

.brief p {
  font-size: 15pt;
  margin: 0;
}

/* Guest Page Styles */

/* Ticket Prices Page Styles */

/* Show Info Page Styles */

/* Purchase Tickets Page Styles */